@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
     font-family: 'Poppins', sans-serif;
}

@keyframes scale-in {
     from {
          opacity: 0;
          transform: scale(0.95);
     }

     to {
          opacity: 1;
          transform: scale(1);
     }
}

@keyframes scale-out {
     from {
          opacity: 1;
          transform: scale(1);
     }

     to {
          opacity: 0;
          transform: scale(0.95);
     }
}

.animateScaleIn {
     animation: scale-in 0.3s ease-out forwards;
}

.animateScaleOut {
     animation: scale-out 0.3s ease-out forwards;
}